

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* altura de la ventana */
    margin: 0;
    background-color: #f8f9fa; /* opcional: un fondo suave */
}

.seccion-login {
    color: #3b3b3b;
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}


.login {
    padding: 50px;
    justify-content: center;
    align-items: center;


}

.login-Functions{
    padding-top: 20px;
}

